html{
    --color-black: #0e111d;
    --color-white: #fff;
    --color-white-50: rgba(255,255,255, .5);
    --color-white-30: rgba(255,255,255, .3);
    --color-white-20: rgba(255,255,255, .2);
    --color-white-10: rgba(255,255,255, .1);
    --color-white-5: rgba(255,255,255, .05);
    --color-primary: #fdc000;
    --color-hover: #f86a05;
    --color-area: #1c212e;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--color-black);
    line-height: 1.4;
    color: var(--color-white);
}