@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

/* 헤더부분 */
.navbar{
    box-sizing: border-box;
    background-color: rgb(244, 243, 235);
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'ChosunGs';
    display: flex;
}

.navbar .contents{
    display: flex;
    margin: 0 auto;
}

.navbar img{
    width: 75px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.member {
    display: flex;
    margin-right: 20px;
}

.member i{
    border-radius: 10px;

    padding: 10px;
    background-color: white;
}

.info{
    display: flex;
}